body {
  overflow: hidden;
  font-family: monospace;
  background-color: #303030;
  font-size: 10pt;
}
#editor {
  position: absolute;
  width: calc(100% - 20px); left: 20px;
  height: 100%;
  max-height: 8000%; top: 0;
  max-width: 8000%;
  background-color: #1b1d1e;
  padding: 0px;
  margin: 0;
  font-family: monospace;
  font-size: 10pt;
}
#vi {
  position: absolute;
  width: 100%;
  height: 100%; top: 0;
  width: 200000px;
  outline-style: none;
  border: 0;
  text-align: left;
  background-color: #1b1d1e;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 10pt;
  color: #8f8f8f;
}

#line_column {
  width: 20px; left: 0;
  text-align: center;
  height: 100%;
  top: 0;
  position: absolute;
}

#line_column ul, #line_column li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #dfdfdf
}

#mode {
  z-index: 100;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background-color: #1b1d1e;
  width: 100%;
  color: #8f8f8f;
  left: 0;
  font-family: monospace;
  font-size: 10pt;
}
::-webkit-selection {
  color: #fff;
  background: #fff;
}
::selection {
  color: #fff;
  background: #fff;
}
::-moz-selection {
  color: #fff;
  background: #fff;
}
